absl-py==2.1.0
aiohappyeyeballs==2.3.5
aiohttp==3.10.3
aiosignal==1.3.1
altgraph==0.17.4
anyio==4.4.0
astunparse==1.6.3
async-timeout==4.0.3
attrs==24.2.0
auto-py-to-exe==2.44.2
blinker==1.8.2
bottle==0.13.2
bottle-websocket==0.2.9
Brotli==1.1.0
browser-cookie3==0.19.1
certifi==2024.8.30
cffi==1.17.0
charset-normalizer==3.3.2
click==8.1.7
cloudscraper==1.2.71
colorama==0.4.6
comtypes==1.4.7
configparser==7.0.0
cryptography==43.0.3
customtkinter==5.2.2
cx_Freeze==7.2.3
cx_Logging==3.2.1
darkdetect==0.8.0
dearpygui==1.11.1
discord.py==2.4.0
discum==1.4.1
dxcam==0.0.5
easygui==0.98.3
Eel==0.17.0
emoji==2.12.1
exceptiongroup==1.2.2
fade==0.0.9
filelock==3.16.1
filetype==1.2.0
Flask==3.0.3
flatbuffers==24.3.25
frozenlist==1.4.1
fsspec==2024.10.0
future==1.0.0
gast==0.6.0
gevent==24.2.1
gevent-websocket==0.10.1
google-pasta==0.2.0
greenlet==3.0.3
grpcio==1.67.0
h11==0.14.0
h5py==3.12.1
httpcore==1.0.5
httpx==0.27.2
huggingface-hub==0.26.1
idna==3.7
itsdangerous==2.2.0
Jinja2==3.1.4
joblib==1.4.2
keras==3.6.0
keyboard==0.13.5
libclang==18.1.1
lief==0.15.1
lz4==4.3.3
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.1
mdurl==0.1.2
ml-dtypes==0.4.1
mpmath==1.3.0
mss==9.0.2
multidict==6.0.5
namex==0.0.8
networkx==3.4.2
nltk==3.9.1
Nuitka==2.4.8
numpy==1.26.4
opencv-python==4.9.0.80
opt_einsum==3.4.0
optree==0.13.0
ordered-set==4.1.0
outcome==1.3.0.post0
packaging==24.1
pandas==2.2.3
pefile==2023.2.7
pillow==10.4.0
protobuf==5.28.3
psutil==6.1.0
pyaesm==1.6.2
pycountry==24.6.1
pycparser==2.22
pycryptodome==3.20.0
pycryptodomex==3.21.0
pyfiglet==1.0.2
Pygments==2.18.0
pyinstaller==6.11.0
pyinstaller-hooks-contrib==2024.9
pynput==1.7.7
pyparsing==3.1.4
pyperclip==1.9.0
pypiwin32==223
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
pywin32==306
pywin32-ctypes==0.2.3
PyYAML==6.0.2
regex==2024.9.11
requests==2.32.3
requests-toolbelt==1.0.0
rgbprint==4.0.2
rich==13.9.3
safetensors==0.4.5
scikit-learn==1.5.2
scipy==1.14.1
selenium==4.24.0
six==1.16.0
sniffio==1.3.1
sortedcontainers==2.4.0
sympy==1.13.1
tasksio==0.0.0
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
tensorflow-io-gcs-filesystem==0.31.0
tensorflow_intel==2.18.0
termcolor==2.5.0
threadpoolctl==3.5.0
tokenizers==0.20.1
tomli==2.0.2
torch==2.5.0
tqdm==4.66.5
transformers==4.46.0
trio==0.26.2
trio-websocket==0.11.1
TwoCaptcha==0.0.1
typing_extensions==4.12.2
tzdata==2024.2
ua-parser==0.18.0
urllib3==2.2.2
webdriver-manager==4.0.2
websocket==0.2.1
websocket-client==1.8.0
Werkzeug==3.0.4
whichcraft==0.6.1
WMI==1.5.1
wrapt==1.16.0
wsproto==1.2.0
yarl==1.9.4
zope.event==5.0
zope.interface==7.0.3
zstandard==0.23.0
